{
  "extends": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }]
  },
  "plugins": ["prettier"]
}

